.nav-custom {
  font-size: 15px;
  font-family: Tahoma, sans-serif;
}

.Hero {
  padding: 250px 0;
  background-image: url("E:/KULIAH/MY DOCS/SEMESTER 5/PEM WEB/MODUL3/Demo/web_ilab/src/assets/hero.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.footer {
  font-size: 15px;
  font-family: "Gill Sans", sans-serif;
}

.contact {
  font-size: 17px;
  font-family: Tahoma, sans-serif;
  background-color: rgb(235, 235, 235);
}

.aboutus {
  background-color: rgb(254, 255, 255);
  font-size: 17px;
  font-family: Tahoma, sans-serif;
}
